In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import f_classif

It is also very important to verify whether our procedures have achieved what we designed it to do. In this documents, we provided 2 approaches to compare and contrast our data with the paper

In [2]:
data = pd.read_csv('data_processed.csv')

### 1. by the known list of features

In [3]:
tfeatures = ['M_SPAG1', 'M_PLEKHF2','M_RALGPS1','M_OMP', 'M_CTNNAL1','M_ZBTB34','M_ODF2','M_FKBP15','M_GOLGA1','M_CHAF1B',
                'M_ORAOV1','M_ZNF174','M_C20ORF204','M_ZNF263','M_HIST1H2BI','M_NUP85','M_KIF18A','M_ARPC5L',
             'M_ANKRD13D','M_ZBTB43','M_ABCA17P']
ins = []
for feature in tfeatures:
    if feature in data:
      ins.append(data[feature])
ins = pd.DataFrame(ins).transpose()
ins.shape

(417, 21)

### 2. by the Average Standardized log2 level (N1)

In [4]:
N1 = data[data['PATH_N_STAGE'] == 1.0]
N0 = data[data['PATH_N_STAGE'] == 2.0]

In [5]:
meansN1 = []
meansN0 = []
for feature in tfeatures:
    meansN1.append(N1[feature].mean())
    meansN0.append(N0[feature].mean())

In [6]:
df = {'Gene': tfeatures,
        'Average (N1)': meansN1,
        'Average (N0)': meansN0}

# convert the dictionary to a dataframe
table = pd.DataFrame(df)

In [7]:
table

           Gene  Average (N1)  Average (N0)
0       M_SPAG1      1.475490      0.229783
1     M_PLEKHF2      1.298871      0.287055
2     M_RALGPS1      1.233461      0.121630
3         M_OMP      1.198101      0.020145
4     M_CTNNAL1      1.180699      0.074221
5      M_ZBTB34      1.089381      0.155228
6        M_ODF2      1.020451      0.078641
7      M_FKBP15      1.014252      0.117141
8      M_GOLGA1      1.000230      0.091729
9      M_CHAF1B      0.874740      0.004969
10     M_ORAOV1      0.957443      0.056144
11     M_ZNF174      0.788356     -0.016991
12  M_C20ORF204      0.746105     -0.044388
13     M_ZNF263      0.835714      0.017543
14  M_HIST1H2BI      0.616551     -0.088149
15      M_NUP85      0.645087     -0.021537
16     M_KIF18A      0.639288     -0.010682
17     M_ARPC5L      0.728587      0.019449
18   M_ANKRD13D      0.805857      0.037891
19     M_ZBTB43      0.968079      0.115718
20    M_ABCA17P      1.523552      0.135092